/*  your css code here. If applicable */
:root{
	background: skyblue;
	font-family: sans-serif;
}
p:first-child{
	background-color: black;
	color:white;
}
p:last-child{
	color:red;
}
  /* List items background */
  ul li:nth-child(1),
  ul li:nth-child(5) {
    background-color: white;
  }
  
  ul li:nth-child(2),
  ul li:nth-child(4) {
    background-color:grey;
  }
  
  ul li:nth-child(3) {
    background-color: pink;
  }
